//- index.pug

extends layout

block content
  section.hero
    h1 Partagez et Découvrez des Projets DIY Inspirants !
    p Rejoignez notre communauté passionnée de bricolage et d'IoT.
    a(href="#projets")
      button(type="button") Découvrir les Projets
  section#projets
    h2 Projets Récents

    //- Affichage des projets récents
    if recentProjects && recentProjects.length > 0
      .project-grid
        each project in recentProjects
          .project-card(data-category=project.category)
            //- Option 1: Avec conteneurs pour l'image et les infos
            .project-image-container
              img(src=`/images/${project.image}` alt=`${project.name}`)
            .project-info
              h3= project.name
              p= project.description
              a(href=`/projets/${project.id}`)
                button(type="button") Voir le Projet

    else
      p Aucun projet récent disponible pour le moment.

block scripts
  script(src="/script.js")

