//- views/projets.pug

extends layout

block content
  main
    section#projets
      h1 Nos Projets

      //- Section des filtres
      div.filters
        button.filter-button(data-category="all" class="active") Tous
        each category in categories
          button.filter-button(data-category=category)= category.charAt(0).toUpperCase() + category.slice(1)
        button.filter-button(data-category="autre") Autre

      if projects.length
        div.project-grid
          each project in projects
            article.project-card(data-category=project.category ? project.category.toLowerCase() : 'autre')
              .thumb(style=`background: url('/images/${project.image}') no-repeat center; background-size: cover;`)
              .infos
                h2.title
                  = project.name
                  span.flag
                if project.date
                  h3.date= project.date
                if project.seats
                  h3.seats= `Places restantes: ${project.seats}`
                p.txt= project.description
                h3.details
                  a(href=`/projets/${project.id}`) Voir les détails
      else
        p Aucun projet disponible pour le moment.
