//- views/projectDetail.pug

extends layout

block content
  main
    section.project-detail
      h1= project.name
      img(src=`/images/${project.image}` alt=`${project.name}`)
      p Date de création: #{new Date(project.date).toLocaleDateString('fr-FR')}
      p= project.description
      p Catégorie: #{project.category}
      a(href="/projets") Retour aux projets

