extends layout

block content
  section#projets
    h1#h1nosprojets Nos Projets

    //- Bouton pour ajouter un projet si l'utilisateur est connecté
    if username
      a.button(href='/projets/ajouter') Ajouter un Projet

    //- Section des filtres
    .filters
      button.filter-button(data-category="all" class="active") Tous
      each category in categories
        - var friendlyCategory = category
        if category == 'tech'
          - friendlyCategory = 'IoT'
        else if category == 'craft'
          - friendlyCategory = 'Artisanat'
        else if category == 'garden'
          - friendlyCategory = 'Jardinage'
        else if category == 'woodwork'
          - friendlyCategory = 'Menuiserie'
        else if category == 'art'
          - friendlyCategory = 'Art'
        else if category == 'recycle'
          - friendlyCategory = 'Recyclage'
        else if category == 'other'
          - friendlyCategory = 'Autre'
        button.filter-button(data-category=category)= friendlyCategory
      button.filter-button(data-category="autre") Autre

    //- Toujours rendre .project-grid
    .project-grid
      if projects.length
        each project in projects
          article.project-card(data-category=project.category ? project.category.toLowerCase() : 'autre')
            .thumb(style=`background: url('${project.image}') no-repeat center; background-size: cover;`)
            .infos
              h2.title
                = project.name
                span.flag
              if project.date
                h3.date= new Date(project.date).toLocaleDateString('fr-FR')
              if project.seats
                h3.seats= `Places restantes: ${project.seats}`
              p.txt= project.description
              h3.details
                a(href=`/projets/${project.id}`) Voir les détails
      else
        p#no-projects-message Aucun projet disponible pour cette catégorie.

block scripts
  script(src="/script.js")
